<h1 class="title">All Sub-Breeds</h1>

<div class="sub-breeds-container">
  <% @sub_breeds.each do |sub_breed| %>
    <div class="sub-breed-card">
      <div class="sub-breed-info">
        <strong>Name:</strong> <%= sub_breed.name %> <br>
        <strong>Breed:</strong> <%= sub_breed.breed.name %> <br>
        <!-- Use truncate to limit the description length -->
        <strong>Description:</strong> <%= truncate(sub_breed.description, length: 50, separator: ' ') %> <br>
      </div>

      <%= link_to 'View Details', [sub_breed.breed, sub_breed], class: "details-link" %>
    </div>
  <% end %>
</div>
