<h1 class="title"><%= @sub_breed.name %> Details</h1>

<div class="sub-breed-details">
  <div class="sub-breed-info">
    <strong>Breed:</strong> <%= @sub_breed.breed.name %> <br>
    <strong>Description:</strong> <%= @sub_breed.description %> <br>
  </div>
  
  <%= link_to 'Back to Sub-Breeds', breed_sub_breeds_path(@sub_breed.breed_id), class: "back-link" %>
</div>
