<h1 class="title"><%= @sub_breed.name %></h1>

<div class="sub-breed-details">
  <strong>Breed:</strong> <%= @sub_breed.breed.name %> <br>
  <strong>Description:</strong> <%= @sub_breed.description %> <br>
  <%= link_to 'Back to Sub-Breeds', sub_breeds_path, class: "back-link" %>
</div>
